{% extends 'dinner/base.html' %}
{% block title %}Dinner{% endblock %}
{% block head %}
{% load staticfiles %}
{% endblock %}
{%block header%}
{%endblock%}
{%block content %}
{% verbatim %}
<div id="app">
  <header>
    <div class="h1">
      <span>Dinner</span>
      <button class="btn btn-default btn-sm" v-on:click="togglePlanningMode()">
        <span v-show="mode === modeEnum.NORMAL">Planning Mode</span>
        <span v-show="mode === modeEnum.PLANNING">
          Meal Editor Mode
        </span>
      </button>
    </div>
  </header>

  <div v-show="mode === modeEnum.PLANNING">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
          <h3>All Meals</h3>
          <ul class="list-unstyled">
            <li v-for="(meal, index) in meals">
              <div class="meal-box"  v-bind:class="{selected: meal.selected}" v-on:click="toggleMealSelected(meal, index)">
                <div class="meal-box-header">
                  {{meal.name}}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <h3>Planned Meals</h3>
          <div v-if="selectedMeals.length === 0">
            <span style="font-style: italic">Click a meal on the left to add it to the weekly plan</span>
          </div>
          <ul class="list-unstyled">
            <li v-for="meal in selectedMeals">
              <div class="meal-box">
                <div class="meal-box-header">
                  {{meal.name}}
                </div>
                <div class="meal-box-ingredients">
                  <ul class="list-unstyled">
                    <li v-for="(ingredient, index) in meal.ingredients">
                      <div>
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" v-on:click="toggleShoppingList(ingredient)">
                              {{ingredient.name}}
                          </label>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <h3>Shopping List</h3>
          <div v-if="shoppingList.length === 0">
            <span style="font-style: italic">Select ingredients from planned meals to add to shopping list</span>
          </div>
          <ul class="list-unstyled" v-sortable="{ handle: '.glyphicon-sort', onUpdate: sortShoppingList }">
            <li v-for="item in shoppingList">
              <div class="shopping-item-box">
                <span class="touch-target">
                  <span class="glyphicon glyphicon-sort" style="cursor: pointer"></span>
                </span>
                <span>{{item.name}} ({{item.meal_name}})</span>
              </div>
            </li>
          </ul>
        
        <hr>
          <ul class="">
            <li v-for="item in shoppingList">
              <div class="shopping-item-box">
                <span>{{item.name}} ({{item.meal_name}})</span>
              </div>
            </li>
          </ul>
        
        
        </div>
    </div>
  </div>

  <div v-show="mode === modeEnum.NORMAL">
    <ul class="list-unstyled">
      <li v-for="meal in meals">
        <div class="meal-box">
          <div class="meal-box-header">
            {{meal.name}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endverbatim %}

{% endblock %}
{% block scripts %}
<script src="{% static 'dinner/js/http.js' %}" type="text/javascript"></script>
<script src="{% static 'dinner/js/index.js' %}" type="text/javascript"></script>
{% endblock %}
