{% extends 'dinner/base.html' %}
{% block title %}Dinner{% endblock %}
{% block head %}
{% load staticfiles %}
{% endblock %}
{%block header%}
{%endblock%}
{%block content %}
{% verbatim %}
<div id="app">
  <header class="no-print">
    <div class="h1">
      <span>Dinner</span>
    </div>
  </header>

  <div>
    <div class="row">
        <div class="no-print col-md-4 col-sm-6 col-xs-6">
          <h3>All Meals</h3>
          <ul class="list-unstyled">
            <li v-for="(meal, index) in meals">
              <div class="meal-box" v-on:click="toggleMealSelected(meal, index)" v-bind:class="{selected: meal.selected}">

                <div class="meal-box-body">
                  <div class="meal-box-header" >
                    {{meal.name}}
                  </div>
                  <div class="meal-box-right">
                    <button class="btn btn-xs btn-default" v-on:click.stop="editMeal(meal)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  </div>
                </div>

              </div>

            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <h3>Planned Meals</h3>
          <div v-if="selectedMeals.length === 0">
            <span style="font-style: italic">Click a meal on the left to add it to the weekly plan</span>
          </div>
          <ul class="list-unstyled">
            <li v-for="meal in selectedMeals">
              <div class="meal-box">
                <div class="meal-box-header">
                  {{meal.name}}
                </div>
                <div class="meal-box-ingredients">
                  <ul class="list-unstyled no-print">
                    <li v-for="(ingredient, index) in meal.ingredients">
                      <div>
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" v-model="ingredient.selected" v-on:click="toggleShoppingList(ingredient)">
                              {{ingredient.name}}
                          </label>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <h3>Shopping List</h3>
          <div v-if="shoppingList.length === 0">
            <span style="font-style: italic">Select ingredients from planned meals to add to shopping list, or add an ingredient in the textbox below.</span>
          </div>
          <ul class="list-unstyled" v-sortable="{ handle: '.glyphicon-sort', onUpdate: sortShoppingList }">
            <li v-for="item in shoppingList">
              <div class="shopping-item-box">
                <span class="touch-target no-print">
                  <span class="glyphicon glyphicon-sort" style="cursor: pointer"></span>
                </span>
                <span>{{item.name}}
                  <span v-show="item.meal_name !== undefined">
                    ({{item.meal_name}})
                  </span>
                </span>

                <div class="pull-right no-print">
                  <button class="btn btn-xs btn-default" v-on:click="showNoteField(item)">
                    <span class="glyphicon glyphicon-comment"></span>
                  </button>
                  <button class="btn btn-xs btn-default" v-on:click="toggleShoppingList(item)">
                    <span class="glyphicon glyphicon-trash text-danger"></span>
                  </button>
                </div>
                <div class="ingredient-notes small" style="font-style: italic" v-if="!item.showNoteField && item.note.length > 0">
                  {{item.note}}
                </div>
                <form novalidate onsubmit="return false">
                  <div class="ingredient-notes small" v-if="item.showNoteField">
                    <div class="input-group">
                      <input type="text" v-focus class="form-control input-sm" v-model="item.note" >
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default" v-on:click="saveIngredientNote(item)">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
          
          <form novalidate onsubmit="return false" class="no-print">
            <div class="input-group">
              <input type="text" class="form-control" v-model="orphanIngredient" />
              <div class="input-group-btn">
                <button type="submit" class="btn btn-info" v-on:click="addOrphanIngredient(orphanIngredient)">Add</button>
              </div>
            </div>
          </form>

          <!--UNHIDE THIS WHEN TROUBLESHOOTING SORT-->
          <ul class="hidden">
            <li v-for="item in shoppingList">
              <div class="shopping-item-box">
                <span>{{item.name}} ({{item.meal_name}})</span>
              </div>
            </li>
          </ul>
                
        </div>
    </div>
  </div>

  <div id="editMeal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Meal</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Meal Name</label>
                <input type="text" class="form-control" v-model="selectedMeal.name" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Available Ingredients</label>
                <ul class="list-unstyled">
                  <li v-for="ingredient in ingredients">
                    <div class="ingredient-box">
                      <div class="ingredient-box-text">
                      {{ingredient.name}}
                      </div>
                      <div class="ingredient-box-right">
                        <button class="btn btn-xs btn-default">
                          <span class="glyphicon glyphicon-plus text-success"></span>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Ingredients for Meal</label>
                <ul class="list-unstyled">
                  <li v-for="ingredient in selectedMeal.ingredients">
                    <div class="ingredient-box">
                      <div class="ingredient-box-text">
                        <button class="btn btn-xs btn-default">
                          <span class="glyphicon glyphicon-trash text-danger"></span>
                        </button>
                      </div>
                      <div class="ingredient-box-text">
                        {{ingredient.name}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>


{% endverbatim %}

{% endblock %}
{% block scripts %}
<script src="{% static 'dinner/js/http.js' %}" type="text/javascript"></script>
<script src="{% static 'dinner/js/index.js' %}" type="text/javascript"></script>
{% endblock %}
