{% extends 'dinner/base.html' %}
{% block title %}Dinner{% endblock %}
{% block head %}
{% load staticfiles %}
{% endblock %}
{%block header%}
{%endblock%}
{%block content %}
{% verbatim %}
<div id="app">
  <header>
    <div class="h1">
      <span>Dinner</span>
      <button class="btn btn-primary" v-on:click="togglePlanningMode()">
        <span v-show="mode === modeEnum.NORMAL">Planning Mode</span>
        <span v-show="mode === modeEnum.PLANNING">
          End Planning Mode
        </span>
      </button>
    </div>
  </header>

  <div v-show="mode === modeEnum.PLANNING">
    <div class="row">
        <div class="col-sm-6 col-xs-6">
          <h3>All Meals</h3>
          <ul class="list-unstyled">
            <li v-for="(meal, index) in meals">
              <div class="meal-box"  v-bind:class="{selected: meal.selected}" v-on:click="toggleMealSelected(meal, index)">
                <div class="meal-box-header">
                  {{meal.name}}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-xs-6">
          <h3>Planned Meals</h3>
          <button class="btn btn-primary" v-if="selectedMeals.length > 0">
            <span>Add Selected Ingredients to Shopping List</span>
          </button>
          <ul class="list-unstyled">
            <li v-for="meal in selectedMeals">
              <div class="meal-box">
                <div class="meal-box-header">
                  {{meal.name}}
                </div>
                <div class="meal-box-ingredients">
                  <ul class="list-unstyled">
                    <li v-for="(ingredient, index) in meal.ingredients">
                      <div>
                        <div class="checkbox">
                          <label>
                              <input type="checkbox">
                              {{ingredient.name}}
                          </label>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <div v-show="mode === modeEnum.NORMAL">
    <ul class="list-unstyled">
      <li v-for="meal in meals">
        <div class="meal-box">
          <div class="meal-box-header">
            {{meal.name}}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="hidden">
    {{meals}}
    <hr>
    {{selectedMeals}}
  </div>
</div>
{% endverbatim %}

{% endblock %}
{% block scripts %}
<script src="{% static 'dinner/js/http.js' %}" type="text/javascript"></script>
<script src="{% static 'dinner/js/index.js' %}" type="text/javascript"></script>
{% endblock %}
