.meal-box {
  margin: 15px 0 15px 0;
  padding: 10px;
  border-radius: 6px;
  border: solid 2px #D4F0FF;
  cursor: pointer;
}
.meal-box.selected {
  background-color: #D4F0FF;
}
.meal-box-header {
  display: inline-table;
  font-weight: bold;
  font-size: 16px;
}
.meal-box-body {
  display: inline-table;
  margin-left: 25px;
  font-style: italic;
}
.meal-box-ingredients {
  display: block;
  margin-left: 15px;
}

.shopping-item-box {
  margin: 10px 0 10px 0;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px #D4F0FF;
}

.touch-target {
  padding: 3px 12px 3px 12px;
  cursor: pointer;
}
.ingredient-notes {
  margin: 5px 50px 0 40px;
}